@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    font-family: "Inter", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* nav related styles */
header{
    background-color: #1A0B2E;
    color: white;
    padding: 1rem 0;
}

nav{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    display: flex;
    gap: 2rem;
}

.wave{
    background: linear-gradient(45deg, rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    color: transparent;
    background-clip: text;
}

.nav-btn{
    padding: 12px 16px;
    background: linear-gradient(45deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
}

.hamburger-menu{
    display: none;
}

/* banner related styles */
.banner{
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-size: 100% 100%;
    color: white;
    display: flex;
    justify-content: center;
    padding: 100px 1rem;
}

.banner-container{
    max-width: 576px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 22px;
}

.banner-image{
    background-image: url(./assets/hero-circle.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.new{
    position: absolute;
    top: 10px;
    right: 30px;
    padding: 8px 16px;
    border: none;
    border-radius: 30px;
    background-color: #00FF88;
    font-weight: 400;
    font-size: 1.1rem;
}

.banner-texts h2{
    font-size: 3.8rem;
    font-weight: 900;
    margin-bottom: 10px;
}

.banner-texts p{
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 10px;
    color: rgb(201, 202, 204);
}

.banner-buttons{
    display: flex;
    gap: 20px;
}

.banner-btn-1{
    padding: 12px 20px;
    background: linear-gradient(45deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

.banner-btn-1:hover, .banner-btn-2:hover{
    transform: scale(1.1) translateY(10px);
}

.banner-btn-1, .banner-btn-2{
    transition: transform 1s ease;
}


.banner-btn-2{
    padding: 11px 20px;
    border-radius: 20px;
    font-size: 1rem;
    border: 1px solid  #00FF88;
    background-color: transparent;
    color: #00FF88;
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

/* about section */
.about{
    background-color: #1A0B2E;
    color: white;
    padding: 4rem 0;
}

.about-container{
    max-width: 1200px;
    min-height: 50%;
    padding: 0 1rem;
    margin: 0 auto;
}

.about-texts{
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
}

.about-texts h2{
    font-size: 3rem;
}

.about-texts p{
    font-size: 1rem;
    color: rgb(201, 202, 204);
}

.about-container hr{
    border: 0.1px solid rgb(61, 59, 59);
    margin: 5rem 0;
}

.about-cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
    gap: 10px;
}

.about-card h2{
    color: #00FF88;
    margin-bottom: 1rem;
    font-size: 3rem;
}

.about-card p{
    color: rgb(201, 202, 204);
}

/* why choose */
.why-choose{
    padding: 120px 0;
    background-color: #230E3D;
    color: white;
}

.choose-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.grid-box{
    padding: 40px;
    border-radius: 40px;
    background-color: rgba(53, 17, 101, 0.4);
    display: grid;
    align-content: center;
    gap: 1rem;
}

.grid-box h3{
    font-size: 1.5rem;
}
.grid-box p{
    color: rgb(201, 202, 204);
}

.choose-header{
    display: flex;
    justify-content: center;
    margin-bottom: 2.5rem;
    font-size: 2.5rem;
    font-weight: 700;
}

.choose-grid-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 30px;
}

.grid-box-1{
    grid-row: span 2;
}

.grid-box-2{
    grid-column: span 2;
}

.grid-box-3{
    grid-column: span 2;
}
.grid-box-4{
    grid-column: span 2;
}

/* featured episodes */
.featured{
    background-color: #1A0B2E;
    padding: 120px 0;
    color: white;
}

.featured-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.featured-cards{
    display: flex;
    gap: 2rem;
}

.featured-card{
    flex: 1;
    border-radius: 40px;
    background-color: #230E3D;
}

.featured-texts{
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.featured-header{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 40px;
}

.duration{
    display: flex;
    align-items: center;
    color: #00FF88;
    gap: 5px;
}

.featured-texts h3{
    font-size: 1.5rem;
}

.featured-texts p{
    color: rgb(201, 202, 204);
}

.featured-video iframe{
    width: 100%;
    border-radius: 40px 40px 0 0;
    overflow: hidden;

}

/* host section */
.host{
    padding-bottom: 120px;
    background-color: #1A0B2E;
    color: white;
}

.host-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.host-header{
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
    text-align: center;
}

.host-details{
    display: flex;
    padding: 40px;
    gap: 24px;
    align-items: center;
    background-color: #230E3D;
    border-radius: 40px;
}

.host-social-app{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(83, 60, 114, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.host-texts p{
    color: rgb(201, 202, 204);
    margin-top: 1rem;
}

.host-socials{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 1rem;
}

/* footer section */
footer {
    background-image: url(./assets/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 120px 1rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-social, .rights {
    color: rgb(201, 202, 204);
}

.footer-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.footer-social-links{
    display: flex;
    gap: 2rem;
}

.footer-social{
    display: flex;
    align-items: center;
    gap: 10px;
}

@media screen and (max-width:576px){
    /* nav  */
    .menu, .nav-btn{
        display: none;
    }
    .hamburger-menu{
        display: inline;
    }
    .logo-name{
        font-size: 1.5rem;
    }
    /* banner */
    *{ 
        -webkit-tap-highlight-color: transparent;
    }

    .banner{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .banner-image{
        width: 195px;
        height: 195px;
    }

    .banner-image img{
        width: 35%;
    }
    .banner-texts h2{
        font-size: 2.4rem;
    }
    .banner-btn-1, .banner-btn-2{
        padding: 8px 12px;
    }
    .banner-buttons{
        flex-wrap: wrap;
        justify-content: center;
        gap: 8px;
    }
    .new{
        right: 10px;
    }
    /* about */
    .about{
        padding: 2rem 0;
    }
    
    .about-cards{
        grid-template-columns: repeat(2,1fr);
        gap: 5px;
    }
    .about-card h2{
        font-size: 1.8rem;
    }

    .about-texts h2{
        font-size: 2rem;
    }

    .about-container hr{
        margin: 3rem 0;
    }

    /* why choose */
    .choose-grid-container{
        grid-template-columns: 1fr;
    }

    .grid-box-1, 
    .grid-box-2,
    .grid-box-3,
    .grid-box-4{
        grid-column: span 1;
        grid-row: span 1;
    }

    .grid-box{
        padding: 24px;
    }
    .choose-header{
        font-size: 1.8rem;
        text-align: center;
    }
    .why-choose{
        padding: 40px 0;
    }
    /* featured episodes */
    .featured{
        padding: 50px 0;
    }
    .featured-cards{
        flex-direction: column;
        align-items: center;
    }
    .featured-card{
        max-width: 100%;
    }
    .featured-header{
        font-size: 1.8rem;
        text-align: center;
    }
    .featured-video iframe{
        width: 100%;
    }

    /* host section */
    .host-details{
        width: 100%;
        flex-direction: column;
    }
    .host-texts{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align:center;
    }
    .host{
        padding-bottom: 50px;
    }
    .host-header{
        font-size: 1.8rem;
    }
    /* footer */
    footer{
        padding: 50px 1rem;
        background-size: 100% 100%;
    }
    .footer-logo{
        max-width: 200px;
    }
    .footer-logo img{
        width: 100%;
    }
    .footer-social-links{
        flex-wrap: wrap;
        justify-content: center;
    }
}