@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    font-family: "Inter", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* nav related styles */
header{
    background-color: #1A0B2E;
    color: white;
    padding: 1rem 0;
}

nav{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    display: flex;
    gap: 2rem;
}

.wave{
    background: linear-gradient(45deg, rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    color: transparent;
    background-clip: text;
}

.nav-btn{
    padding: 12px 16px;
    background: linear-gradient(45deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
}

.hamburger-menu{
    display: none;
}

/* banner related styles */
.banner{
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-size: 100% 100%;
    color: white;
    display: flex;
    justify-content: center;
    padding: 100px 1rem;
}

.banner-container{
    max-width: 576px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 22px;
}

.banner-image{
    background-image: url(./assets/hero-circle.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.new{
    position: absolute;
    top: 10px;
    right: 30px;
    padding: 8px 16px;
    border: none;
    border-radius: 30px;
    background-color: #00FF88;
    font-weight: 400;
    font-size: 1.1rem;
}

.banner-texts h2{
    font-size: 3.8rem;
    font-weight: 900;
    margin-bottom: 10px;
}

.banner-texts p{
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 10px;
}

.banner-buttons{
    display: flex;
    gap: 20px;
}

.banner-btn-1{
    padding: 12px 20px;
    background: linear-gradient(45deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 6px;
}

.banner-btn-2{
    padding: 11px 20px;
    border-radius: 20px;
    font-size: 1rem;
    border: 1px solid  #00FF88;
    background-color: transparent;
    color: #00FF88;
    display: flex;
    align-items: center;
    gap: 6px;
}

/* about section */
.about{
    background-color: #1A0B2E;
    color: white;
    padding: 4rem 0;
}

.about-container{
    max-width: 1200px;
    min-height: 50%;
    padding: 0 1rem;
    margin: 0 auto;
}

.about-texts{
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
}

.about-texts h2{
    font-size: 3rem;
}

.about-texts p{
    font-size: 1rem;
}

.about-container hr{
    border: 0.1px solid rgb(61, 59, 59);
    margin: 5rem 0;
}

.about-cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
}

.about-card h2{
    color: #00FF88;
    margin-bottom: 1rem;
    font-size: 3rem;
}

@media screen and (max-width:576px){
    /* nav  */
    .menu, .nav-btn{
        display: none;
    }
    .hamburger-menu{
        display: inline;
    }
    .logo-name{
        font-size: 1.5rem;
    }
    /* banner */
    .banner{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .banner-image{
        width: 200px;
        height: 200px;
    }

    .banner-image img{
        width: 40%;
    }
    .banner-texts h2{
        font-size: 2.4rem;
    }
    .banner-btn-1, .banner-btn-2{
        padding: 8px 12px;
    }
    .banner-buttons{
        gap: 8px;
    }
    .new{
        right: 10px;
    }
    /* about */
    .about-cards{
        grid-template-columns: repeat(2,1fr);
    }

    .about-texts h2{
        font-size: 2rem;
    }
    .about-card h2{
        font-size: 2.5rem;
    }
}